body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clothes-image img{
width: 150px;
height: 200px;
}

.map-image{
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 20px 15px 5px;
}

.designer-image img{
  width: 20px;
  height: 20px;
  }